@media only screen and (max-width: 665px) {
  .navbar ul{
    position: fixed;
    right: 5px !important;
    display:block !important;
  }
}
@media only screen and (max-width: 440px) {
.ikonky{
  display: none;
}
  .navbar ul{
    position: fixed;



  }
}
@mixin chlivky{
  display: grid;
  grid-template-columns: 2fr fit-content(200px);

  margin: 170px auto;
  background: #2b2b2b !important;
  width: 100%;
  max-width: 900px;
  gap: 20px;
  text-align: center;
  height: auto;
  .oneSec{
    color: white;
    margin-top:21px;
    a{
      color: white;

      font-weight: bold;
      margin-top: 40px;

    }
  }
  .twoSec{
    img, video {

      align-items: center;
      width: 300px;
      height: 350px;
      margin-top:5px;
      margin-right: 20px;


    }

  }
  //C#
  .twoSec2{
    img{
      width: 400px;
      height: 350px;
    }
    video {
      margin-top: 52px;
      margin-right: 20px;
    }
  }
}
.chlivekOne, .chlivekTwo{
  @include chlivky;
}




@media (max-width: 750px) {
  .chlivekOne {
    grid-template-columns: 1fr;
    text-align: center;

    .twoSec img {
      margin: 0 auto;
    }
  }
}
footer{
  color: white;
}