@media only screen and (max-width: 665px) {
  .navbar ul{
    position: fixed;
    right: 5px !important;
    display:block !important;
  }
}
@media only screen and (max-width: 440px) {
.ikonky{
  display: none;
}
  .navbar ul{
    position: fixed;


  }
}