@import "mixiny";


body{
  margin: 0;
  padding: 0;

}

//-------------ikona moon a sun a mody----------//
.option{

  margin-right: 10px;
  width: 105px;
  height: 40px;
  background: #454545;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 20000;
  display:grid;
  grid-template-columns: 1fr 100px;
  p{


    color: #fff;
    position: absolute;
    right: 3px;
    top: 10px;

  }
  input[type="checkbox"]{
    width: 25px;
  }




}
//
body {
  background: var(--bg);
  color: var(--text);
  main, footer{
    .nadpis-special{
      color: var(--text);

    }
    .nadpis-special::after{
      background-color: var(--text);
    }
  }



  transition: 0.3s ease;
  .text p, .text h1 {
    color: var(--text);
  }
  .kontakty-foot p{
    color: var(--text);
  }

}


body:has(#check:checked) {
  --bg: #000000;
  --text: #ffffff;
  .moon{
    display: inline;
  }
  .sun{
    display: none;
  }
  .dark{
    display: inline;
  }
  .light{
    display: none;
  }
}


body:has(#check:not(:checked)) {
  --bg: #ffffff;
  --text: #000000;
  .moon{
    display:none;
  }
  .sun{
    display: inline;
  }
  .dark{
    display: none;
  }
  .light{

    display: inline;
  }
}

//-----------------header----------------//

//úprava textu v úvodu
.TokyoUvod{
  font-family: "Francois One", sans-serif;
  margin-right:20px;
  font-size:80px;
}
@media only screen and (max-width: 450px){
  .TokyoUvod{
    font-size:50px;
  }
  .uvodninadpis{
    font-size:20px;
  }
  .typer {
    font-size: 29px !important;
  }
}
///fafaf///
//kurzor//
.typing h1 {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; /* důležité, aby se border posouval s textem */
  border-right: 2px solid black; /* kurzor */
  padding-right: 2px; /* malý odstup od textu */
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  0%, 50%, 100% { border-color: white; }
  25%, 75% { border-color: transparent; }
}
.typer{
  font-size: 40px;
  color:white;
}

//barva pod navigací a také tlačítka
.navbar{
  @include styl;
  border-bottom: 8px solid;
  border-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000) 1;
  animation: border-color-shift 3s linear infinite;

}
@keyframes border-color-shift {
  0% {
    border-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000) 1;
  }
  50% {
    border-image: linear-gradient(90deg, #0000ff, #ff0000, #00ff00, #0000ff) 1;
  }
  100% {
    border-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000) 1;
  }
}

//tlačítko ------- opravit pouze se stiskne text
li:hover a {
  color: white;
}






//mobil
.cross,
.hamburger{
  @include styl_ikona;
  display:none;
}

@media only screen and (max-width: 660px){
  .navbar ul{
    display: none;
  }
  .hamburger{
    display: flex;
  }
}






.mobil {
  @include mobil-nav;


  background-color: $nav;
  overflow: hidden ;

  opacity: 0;
  z-index: 1000;
  border-bottom: 5px solid rgba(32, 2, 50, 0.82);
  max-height: 0;
  pointer-events: none;
  transition: max-height 0.6s ease-in-out, opacity 1s ease, transform 1s ease;

  ul {
    margin-left: 30px;
    margin-top: 30px;
  }

  ul li {
    border: 7px solid rgba(32, 2, 50, 0.82);
    width: 200px;
    font-size: 23px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}







.mobil.mobileopen {

 max-height: 500px;
  transform: translateY(0);
  opacity: 1;

  pointer-events: auto;
  transition: max-height 1s ease-in-out, opacity 1s ease, transform 1s ease;
}

//logo v navigaci
.logo {
  max-width: 0;
  transition: opacity 1s ease;
}

.logo-styly {
  position: fixed;
  z-index: 100000;
  max-width: 238px;
  height: 100px;
  right: 0;
  top: 175px;
  opacity: 1;
  transition: opacity 1s ease;
  visibility: visible;
}


@mixin logo{
  position: fixed;
  z-index: 100000;
  max-width: 200px;
  height: 100px;
  right: 0;
  top: 200px;
  opacity: 1;
  transition: opacity 1s ease;
  visibility: visible;
}

.logonav{
  @include logo;
  top:15px;
  width: 235px;
  height: 70px;


}

//ikony v navigaci
.ikonyfoot{
  display:flex;
  gap: 20px;
  align-items: center;
  justify-content: center;


  .fa-brands{
    font-size: 65px;
    margin-bottom: 20px;

  }
}
//rezponzivita loga
@media only screen and (max-width: 1270px){
  .logonav{
    display:none;
  }
  .ikonky{
    display: none;
  }
}
@media only screen and (max-width: 488px){
  .logo{
    width: 135px ;
    height: 56px ;

    top: 218px ;
  }
}
@media only screen and (max-width: 400px){
  .logo{
    max-width: 0;
  }
}


.projects {
  h1 {
    color: white;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;
  a{
    display:block;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: rgba(32, 2, 50, 0.82);
    background-color: white;
    border: 5px solid rgba(32, 2, 50, 0.82);
    border-radius: 10px;
    padding: 16px;
    margin-top: 10px;
    &:hover{
      background-color: rgba(32, 2, 50, 0.82);
      color: white;
      scale: 1.1;
      transition: 0.5s ease;

    }
  }
  .web,
  .python,
  .C\#,
  .Microsoft,
  .photoshop,
  .help {
    @include pozadi;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      color: white;
      margin-bottom: 15px;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;


      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        img {
          margin: 0;
          display: block;
          transition: transform 0.5s ease;

          &:hover {
            transform: scale(1.25);
          }
        }
        //----------odkaz na projekty----------//
        a{
          font-family: monospace;
          font-weight: bold;
          font-size: 15px;
          text-decoration: none;
          color: rgba(32, 2, 50, 0.82);
          background-color: white;
          border: 5px solid rgba(32, 2, 50, 0.82);
          border-radius: 10px;
          padding: 16px;
          margin-top: 10px;
          &:hover{
            background-color: rgba(32, 2, 50, 0.82);
            color: white;
            scale: 1.1;
            transition: 0.5s ease;

          }
        }
        p {
          opacity: 0;
          transform: translateY(10px);
          transition: opacity 0.5s ease, transform 0.5s ease;
        }

        &:hover p {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}


.projekty .krabice-techno {
  h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
  }
}
//----------pro formulář-----------//
.formular{

@include formularr;
}