*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: #013440;
}
/* ---------reusable--------   */
.row{
    width: 1000px;
    margin: 0 auto;
}
/* ---------header--------   */
/* ---------navigace--------   */
.ikony{
    display:inline-block;
    margin-left: 8%;
    margin-top: 5px
}
.ikony a img {
    
    width: 50px;
    
    
    
}
.ikony{
    display: inline-block;
    margin-top:10px;
}
.ikony .instagram img{
    width: 70px;
   /*border: 2px solid #fff;*/
   
  
}
.ikony .facebook img{
    width: 50px;
    /*border: 2px solid #fff;*/
    margin-bottom: 2px;
}
.ikony .github img{
    width: 55px;
   /*border: 2px solid #fff;*/
   margin-bottom: 2px;
}





nav {
    background-color: #000;
    height: 10vh; 
}
nav ul{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
    width: 40%;
    
}
nav ul li{
    display:inline-block;
    margin-left:6%;
    
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family:"Tahoma", serif;
    
    
}

