*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: #000;
}
/* ---------reusable--------   */
.row{
    width: 1000px;
    margin: 0 auto;
}
/* ---------header--------   */
/* ---------navigace--------   */


/* ---------ikony--------   */
.ikony{
    display:inline-block;
    position: fixed;
    margin-left: 8%;
    margin-top: 5px
}
.ikony a img {
    
    width: 50px;
}
.ikony{
    display: inline-block;
    margin-top:10px;
}
.ikony .instagram img{
    width: 70px;
   /*border: 2px solid #fff;*/
   
  
}
.ikony .facebook img{
    width: 50px;
    /*border: 2px solid #fff;*/
    margin-bottom: 2px;
}
.ikony .github img{
    width: 55px;
   /*border: 2px solid #fff;*/
   margin-bottom: 2px;
}





/* ---------navigace - hlavní--------   */

nav ul li.Konktakt a:link,
nav ul li.Kontakt a:visited {
    padding: 7px 10px;
    border-radius: 20px;
    
    background-color: #403585; 
    color: white; 
    display: inline-block; 
    text-align: center;
}
nav ul li.Konktakt a:hover,
nav ul li.Kontakt a:active {
    background-color: #403585; 
    color: #fff; 
    opacity: 0.7;
}
nav ul li a:hover,
nav ul li a:active{
    border-bottom: 3px solid #403585;
}




nav {
    position: fixed;
    background-color: #000;
    height: 10vh; 
    
}
nav ul{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 40%;
    
}
nav ul li{
    display:inline-block;
    margin-left:6%;
    
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family:"Tahoma", serif;
    
    
    
}


/* ---------navigace - logo--------   */
nav .logotokyo img{
    width: 17%;
    position:fixed;
    margin-left:76%;
    margin-top:-4px;
}